export ANDROID_SDK_HOME=
export ANDROID_NDK_HOME=

# Dynamically construct NDK-internal LLVM variables for bindgen
export LIBCLANG_PATH=
export CLANG_PATH=
export LD_LIBRARY_PATH=

# OpenCV Dynamic Linker Paths - dynamically resolved to your PWD at runtime
export OPENCV_INCLUDE_PATHS=
export OPENCV_LINK_PATHS=
export OPENCV_LINK_LIBS=
